@import "@/styles/index.scss";

#home {

    .header {
        position: relative;
        width: 100%;
        height: 500px;

        .background-img {
            position: absolute;
            background-image: url("https://i-vn.joboko.com/images3/index/bg.webp");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left: 0;
        }

        .container {
            position: relative;
            margin: 0 auto;
            max-width: 1250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $text-default;

            .tittle {
                color: $text-default;
                font-size: 3rem;
                font-weight: bold;
                margin-top: 80px;
                text-shadow: $text-default 1px 0 10px;
            }

            .descreption {}

            .select-box {
                margin-top: 50px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                background-color: rgba($color: $bg-default, $alpha: 0.2);
                text-align: center;
                gap: 50px;
                border-radius: 50px;
                height: 80px;
                padding: 10px;
            }

            .input {
                flex: 2;
                color: $text;
                border-radius: 50px;
                overflow: hidden;

                .input-container {
                    border: none;
                }

            }

            .select {
                flex: 2;
                display: flex;
                color: $text;

                select {
                    border-radius: 50px;
                }
            }

            .button {
                flex: 1;

                button {
                    border-radius: 50px;
                }
            }

            .keywoord {
                margin-top: 12px;
                align-self: flex-start;
            }

            .key {
                span {
                    margin: 0 4px;
                    font-weight: bold;
                    opacity: 0.9;
                    cursor: pointer;

                    &:hover {
                        text-shadow: $text-default 1px 0 10px;
                    }
                }
            }


        }
    }

    .create-cv {
        position: relative;
        width: 100%;
        height: 100px;

        .background-img {}

        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .language {
                .language-flas {
                    display: flex;
                    gap: 12px;

                    &-country {
                        img {
                            margin-right: 4px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .button-create {
                button {
                    border-radius: 50px;
                    border: none;
                    padding: 20px 40px;
                }
            }

            .connect-social {
                display: flex;
                gap: 30px;

                img {
                    width: 120px;
                    display: block;
                }
            }

        }
    }

    .create-cv-upload {
        background-color: $bg-app;
        width: 100%;
        position: relative;
        height: 300px;
        padding: 30px 0;

        .container {
            margin: 0 auto;
            height: 100%;
            display: flex;
            gap: 60px;

            .create-cv {
                padding: 20px 30px;
                background-color: $bg-second;
                height: 100%;
                border-radius: 20px;

                .tittle {
                    color: $text-green;
                }

                .button {
                    width: 30%;
                    margin-top: 20px;
                }

                img {
                    width: 200px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .hope {
        position: relative;
        width: 100%;
        padding: 30px;

        .container {
            margin: 0 auto;
            display: flex;
            gap: 40px;

            .left {
                flex: 5;

                .tittle {
                    color: $text-green;
                    margin-bottom: 40px;
                }

                .step {
                    margin: 8px 4px;

                    b {
                        color: $text-green;
                        font-weight: 8900;
                    }
                }

                .download {
                    margin: 30px 0;
                }

                .box-img {

                    img {
                        width: 150px;
                        cursor: pointer;
                        margin-right: 20px;
                    }
                }
            }

            .right {
                flex: 4;
                align-self: flex-end;

                img {
                    width: 100%;
                }
            }
        }
    }

    .for-me {
        position: relative;
        width: 100%;
        background-color: $bg-second;
        padding: 30px 0;

        .container {
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;

            .tittle {
                color: $text-green;
                margin-bottom: 20px;
            }

            .description {
                text-align: justify;
                margin-bottom: 20px;
            }

            .box-number {
                width: 100%;
                padding: 20px;
                background-color: $bg-default;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 30px;
                border-radius: 20px;

                .item {
                    width: 22%;

                    h2 {
                        color: $text-purple-black ;
                        // margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }


    .height-100 {
        height: 100%;
    }

    .width {
        max-width: 1150px;
        width: 100%;
    }
}