@import "@/styles/index.scss";

#baohiemtxahoi {
    .recipe {
        h1 {
            font-weight: 600;
            color: $text-green;
            padding: 8px 0;
        }

        i {
            color: $text-second;
        }

        p {
            padding-bottom: 30px;
            border-bottom: 1px solid $border-grey;
        }

        &-container {
            ul {
                list-style-type: none;
                display: flex;
                padding: 10px 0;
                justify-content: space-between;
                margin: 0 20px;

                li {
                    font-size: 1.1rem;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        cursor: pointer;
                        color: $text-green;
                        border-bottom: 1px solid $text-green;
                    }

                }
            }
        }
    }

    .explain {

        h3,
        h2 {
            font-weight: 600;
            color: $text-green;
            padding: 8px 0;
        }

        a {
            b {
                color: $text-green;
            }
        }
    }
}