@import "@/styles/index.scss";

#gross-net {
    .tools {

        p {
            color: $text-second;
            font-size: 0.95rem;

        }

        &-regulations {
            background-color: $bg-app;
            border-radius: 4px;
            margin-bottom: 10px;

            &-select {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                margin-top: 30px;
                gap: 20px;

                border-bottom: 1px solid $border-grey;

                label {
                    margin: 0;
                    margin-left: 10px;

                    b {
                        color: $text-error;
                    }
                }
            }

            &-define {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                gap: 20px;
                justify-content: space-between;

                p {
                    color: $text;
                }

                span {
                    color: $text-green;
                }
            }

            &-income {
                display: flex;
                gap: 50px;
                padding: 10px 0;
                align-items: center;
            }

            &-money {
                display: flex;
                align-items: center;
                padding: 10px 0;
                gap: 20px;

                &-up {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

                &-input {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            &-region {
                display: flex;
                gap: 20px;
                padding: 10px 0;

                a {
                    color: $text-error;
                    font-size: 0.8rem;
                }
            }

            &-dependent {
                display: flex;
                gap: 30px;
                align-items: center;
                padding: 10px 0;
            }

            &-change {
                padding: 10px 0;
                display: flex;
                margin: auto;
                gap: 20px;
                width: 500px;
            }
        }
    }


    .noti {
        &-header {
            background-color: $text-green;
            color: $text-default;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            padding: 8px 20px;
            margin-top: 12px;
            color: $text-default;
            font-size: 600;
            border-radius: 20px;
            display: inline-block;
        }

        p {
            font-size: 15px;
            margin-bottom: 8px;
        }
    }

    .explain {
        &-social {
            span {
                background-color: $bg-green;
                margin: 10px 20px 10px 0;
                padding: 8px 20px;
                color: $text-default;
                font-size: 600;
                border-radius: 20px;
            }
        }

        .whatisGross {
            font-size: 1.2rem;
            padding: 12px 0;
        }

        p {
            font-size: 15px;
            line-height: 1.6;
            margin: 4px 0;
        }

        .box-saw-example {
            text-align: justify;

            span {
                color: $text-error;
            }
        }

        .grossToNet {
            padding: 20px 0;
        }

        &-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .warning {
            color: $text-error;
        }
    }
}

.box-saw {
    border: 1px dashed $border-grey;
    padding: 20px 30px;
    text-align: center;
    margin: 10px 0;
}